.ZiKEBLfv{display:flex;flex-flow:column nowrap;align-items:center;overflow-y:auto}.EKno70Mr{margin:8px 0}
.Y8gKPOKS{display:flex;flex-flow:row nowrap;justify-content:center;flex-shrink:0;width:100%;padding:var(--padding-m)}.E6Na_EAj{display:grid;grid-gap:var(--signal-list-grid-gap);grid-template-rows:2fr 3fr;grid-template-columns:1fr 1fr 1fr}
